$c0:#ffffff;
$c1:#26a7ff;
$c2:#26baff;
$c3:#26cfff;
$c4:#00db9c;
$c5:#f1d412;

$c6:#171926;
$c7:#6e6f71;
$c8:#a3adb6;
$c9:#c5c8cd;
$c10:#f9fafb;
$c11:#edeff0;
$c12:#e5e8e9;
$c13:#f4f7f8;
$c14:#dcdee0;
$c15:#a5a6aa;
