.view-data-analyze {
  background-color: $c11;
  .nav {
    background-color: $c0;
    border-bottom: solid 1px $c11;
  }
  .nav-item {
    box-shadow: 0 4px 16px rgba($c6,.3);
    .title-sub {
      color: $c7;
    }
  }
  .date {
    border-top: solid 1px $c11;
    background-color: $c0;
    &-head {
      .triangle-down {
        border-top-color:$c8;
      }
    }
    &-body {
      .btn {
        background-color: $c11;
        &.disabled {
          color: $c15;
        }
      }
      .center {
        .num {
          color: $c1;
        }
        .time {
          color: $c7;
        }
      }
    }
    &-bottom {
      border-top: solid 1px $c11;
      .item {
        .name {
          color: $c7;
        }
        .value {
          color: $c6;
        }
      }
      .line {
        border-left: solid 1px $c11;
      }
    }
  }
  .chart {
    background-color: $c0;
    &-tabs {
      .tab {
        border: solid 2px $c8;
        color: $c8;
        &+.tab {
          border-left-color: transparent;
        }
        &.active {
          border-color: $c1;
          color: $c1;
        }
        &.border-right-none {
          border-right-color: transparent;
        }
      }
    }
  }
  .m-list {
    // border-bottom: solid 1px $c11;

    background-color: $c10;
    &-head {
      background-color: $c10;
    }
    &-content {
      li {
        &:nth-child(2n+1) {
          background-color: $c0;
        }
        &:last-child {
          @include hairline(single, $c11, 0);
        }
        .col {
          >span {
            &:nth-child(2) {
              color: $c7;
            }
          }
          &:nth-child(2) {
            color: $c1;
          }
        }
      }
    }
  }
}
