// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$icon-close-name: 'icon-close';
$icon-close-x: 224px;
$icon-close-y: 68px;
$icon-close-offset-x: -224px;
$icon-close-offset-y: -68px;
$icon-close-width: 60px;
$icon-close-height: 60px;
$icon-close-total-width: 403px;
$icon-close-total-height: 265px;
$icon-close-image: '../static/sprite.png';
$icon-close: (224px, 68px, -224px, -68px, 60px, 60px, 403px, 265px, '../static/sprite.png', 'icon-close', );
$icon-error-tip-name: 'icon-error-tip';
$icon-error-tip-x: 0px;
$icon-error-tip-y: 0px;
$icon-error-tip-offset-x: 0px;
$icon-error-tip-offset-y: 0px;
$icon-error-tip-width: 214px;
$icon-error-tip-height: 152px;
$icon-error-tip-total-width: 403px;
$icon-error-tip-total-height: 265px;
$icon-error-tip-image: '../static/sprite.png';
$icon-error-tip: (0px, 0px, 0px, 0px, 214px, 152px, 403px, 265px, '../static/sprite.png', 'icon-error-tip', );
$icon-more-name: 'icon-more';
$icon-more-x: 159px;
$icon-more-y: 162px;
$icon-more-offset-x: -159px;
$icon-more-offset-y: -162px;
$icon-more-width: 24px;
$icon-more-height: 24px;
$icon-more-total-width: 403px;
$icon-more-total-height: 265px;
$icon-more-image: '../static/sprite.png';
$icon-more: (159px, 162px, -159px, -162px, 24px, 24px, 403px, 265px, '../static/sprite.png', 'icon-more', );
$icon-nav-a-name: 'icon-nav-a';
$icon-nav-a-x: 353px;
$icon-nav-a-y: 68px;
$icon-nav-a-offset-x: -353px;
$icon-nav-a-offset-y: -68px;
$icon-nav-a-width: 50px;
$icon-nav-a-height: 44px;
$icon-nav-a-total-width: 403px;
$icon-nav-a-total-height: 265px;
$icon-nav-a-image: '../static/sprite.png';
$icon-nav-a: (353px, 68px, -353px, -68px, 50px, 44px, 403px, 265px, '../static/sprite.png', 'icon-nav-a', );
$icon-nav-b-name: 'icon-nav-b';
$icon-nav-b-x: 294px;
$icon-nav-b-y: 68px;
$icon-nav-b-offset-x: -294px;
$icon-nav-b-offset-y: -68px;
$icon-nav-b-width: 49px;
$icon-nav-b-height: 53px;
$icon-nav-b-total-width: 403px;
$icon-nav-b-total-height: 265px;
$icon-nav-b-image: '../static/sprite.png';
$icon-nav-b: (294px, 68px, -294px, -68px, 49px, 53px, 403px, 265px, '../static/sprite.png', 'icon-nav-b', );
$icon-nav-c-name: 'icon-nav-c';
$icon-nav-c-x: 0px;
$icon-nav-c-y: 162px;
$icon-nav-c-offset-x: 0px;
$icon-nav-c-offset-y: -162px;
$icon-nav-c-width: 51px;
$icon-nav-c-height: 45px;
$icon-nav-c-total-width: 403px;
$icon-nav-c-total-height: 265px;
$icon-nav-c-image: '../static/sprite.png';
$icon-nav-c: (0px, 162px, 0px, -162px, 51px, 45px, 403px, 265px, '../static/sprite.png', 'icon-nav-c', );
$icon-nav-d-name: 'icon-nav-d';
$icon-nav-d-x: 0px;
$icon-nav-d-y: 217px;
$icon-nav-d-offset-x: 0px;
$icon-nav-d-offset-y: -217px;
$icon-nav-d-width: 44px;
$icon-nav-d-height: 48px;
$icon-nav-d-total-width: 403px;
$icon-nav-d-total-height: 265px;
$icon-nav-d-image: '../static/sprite.png';
$icon-nav-d: (0px, 217px, 0px, -217px, 44px, 48px, 403px, 265px, '../static/sprite.png', 'icon-nav-d', );
$login-password-name: 'login-password';
$login-password-x: 54px;
$login-password-y: 217px;
$login-password-offset-x: -54px;
$login-password-offset-y: -217px;
$login-password-width: 38px;
$login-password-height: 46px;
$login-password-total-width: 403px;
$login-password-total-height: 265px;
$login-password-image: '../static/sprite.png';
$login-password: (54px, 217px, -54px, -217px, 38px, 46px, 403px, 265px, '../static/sprite.png', 'login-password', );
$login-user-name: 'login-user';
$login-user-x: 61px;
$login-user-y: 162px;
$login-user-offset-x: -61px;
$login-user-offset-y: -162px;
$login-user-width: 40px;
$login-user-height: 44px;
$login-user-total-width: 403px;
$login-user-total-height: 265px;
$login-user-image: '../static/sprite.png';
$login-user: (61px, 162px, -61px, -162px, 40px, 44px, 403px, 265px, '../static/sprite.png', 'login-user', );
$login-vcode-name: 'login-vcode';
$login-vcode-x: 111px;
$login-vcode-y: 162px;
$login-vcode-offset-x: -111px;
$login-vcode-offset-y: -162px;
$login-vcode-width: 38px;
$login-vcode-height: 44px;
$login-vcode-total-width: 403px;
$login-vcode-total-height: 265px;
$login-vcode-image: '../static/sprite.png';
$login-vcode: (111px, 162px, -111px, -162px, 38px, 44px, 403px, 265px, '../static/sprite.png', 'login-vcode', );
$logo-name: 'logo';
$logo-x: 224px;
$logo-y: 0px;
$logo-offset-x: -224px;
$logo-offset-y: 0px;
$logo-width: 179px;
$logo-height: 58px;
$logo-total-width: 403px;
$logo-total-height: 265px;
$logo-image: '../static/sprite.png';
$logo: (224px, 0px, -224px, 0px, 179px, 58px, 403px, 265px, '../static/sprite.png', 'logo', );
$spritesheet-width: 403px;
$spritesheet-height: 265px;
$spritesheet-image: '../static/sprite.png';
$spritesheet-sprites: ($icon-close, $icon-error-tip, $icon-more, $icon-nav-a, $icon-nav-b, $icon-nav-c, $icon-nav-d, $login-password, $login-user, $login-vcode, $logo, );
$spritesheet: (403px, 265px, '../static/sprite.png', $spritesheet-sprites, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@function strip-unit($number) {
  @if type-of($number) == 'number' and not unitless($number) {
    @return $number / ($number * 0 + 1);
  }

  @return $number;
}

@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6) + 2px;
}

@mixin sprite-position($sprite) {
  $x:nth($sprite, 5) - nth($sprite, 7);
  $y:nth($sprite, 6) - nth($sprite, 8);
  $o-sprite-offset-x: strip-unit(nth($sprite, 3)) / strip-unit( $x );
  $sprite-offset-x: 0 * 100%;
  @if type-of($o-sprite-offset-x) == 'number' {
    $sprite-offset-x: $o-sprite-offset-x * 100%;
  }
  $sprite-offset-y: strip-unit(nth($sprite, 4)) / strip-unit( $y ) * 100%;
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-size($sprite) {
  background-size: nth($sprite, 7) nth($sprite, 8);
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-size($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
