.view-user-portrait {
  .m-gender {
    background-color: $c0;
    .content-text {
      .left {
        >span {
          &:nth-child(2) {
            color: $c1;
          }
        }
      }
      .right {
        >span {
          &:nth-child(1) {
            color: $c4;
          }
        }
      }
    }
    .content-bar {
      .left {
        background-color: $c1;
      }
      .right {
        background-color: $c4;
      }
    }
  }

  .m-age {
    background-color: $c0;
  }

  .m-people-counting {
    background-color: $c0;
  }

  .m-region {
    background-color: $c0;
  }

  .m-city-ratio {
    background-color: $c0;
    .m-title {
      @include hairline($c11, top);
      border-top: $c11 solid 1px;
    }
    .m-city-ratio-list {
      border-bottom: $c11 solid 1px;
    }
  }
}
